on: push

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: ./build.sh

      - id: date
        run: echo ::set-output name=date::$(date +'%Y%m%d')

      - name: Upload module to release
        uses: svenstaro/upload-release-action@v2
        with:
          file: ./output/*
          release_name: sqlite3-static
          tag: ${{ steps.date.outputs.date }}
          overwrite: true
          file_glob: true
